.services {
    background: #f1f1f1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.footer_link {
    a.btn-link {
        color: #fff;
    }
}

.notice-board{
    background: $s-light;
    padding: 30px;
    h3{}
    h4{margin-top: 10px;margin-bottom: 5px;text-transform: none;font-size: 18px; color: $p-dark;font-weight: 600;}
    p{
        line-height: 24px;
    }
}

.cookie_message{
	display:none;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	background: $s-light;
	color: #fff;
	padding: 30px 0;
	border-top: 1px solid #fff;
}
.cookie_message	p{
    margin-bottom: 20px;
    color: $s-dark;
    margin: 0;
    padding: 0;
}

.center-align{
    margin:0px auto;
}
.amt_btn{
    padding: 0 20px;
}

.page_img{
    float: right;
    width: 500px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.what-right h4 a{
    color: #333;
}

.event_box {
    overflow: hidden;

    .event-img {
        float: left;
        width: 400px;
        height: 300px;
        background-color: #333;
    }
    .event-txt{
        background: #f1f1f1;
        float: left;
        width: calc(100% - 400px);
        height: 300px;
        padding-left: 20px;
        h3 {
            margin-top: 15px;
            margin-bottom: 30px;
            text-transform: none;
            a{
                color: $primary;
                font-size: 22px;
                font-weight: 700;
            }
        }
        h4{
            font-size: 18px;
            text-transform: none;
        }
    }



    .countdown_event {
        margin: 10px 0;

        span {
            display: inline-block;
            text-align: center;
            font-size: 30px;
            color: $primary;

            span {
                border: #333 solid 1px;
                padding: 5px 8px;
                width: 70px;
            }
            small {
                background: #333;
                display: block;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                padding: 2px 0;
            }
        }
    }
}

.news_box {
    overflow: hidden;
    margin-bottom: 15px;

    img {
        float: left;
        margin-right: 30px;
    }
    &.first_post{
        img {
            float: none;
            margin-right: 0;
        }
    }

    h3 {
        margin-top:0;
        margin-bottom: 15px;
        color: $primary;
        font-size: 18px;
        line-height: normal;
        a{
            color: #333;
            &:hover{
                color: $primary;
            }
        }
    }
}

.page-header{
    background: darken($primary, 10%);
    color: #fff;
}

.inner_page {

    ul,ol{
        list-style: none;
        li{
            list-style: none;
            position: relative;
            padding-left: 30px;
            &:before{
                content: "» ";
                position: absolute;
                top: 0;
                left: 15px;
                color: $p-dark;
            }
        }
    }

    h3{
        color: $primary;
        margin-top: 15px;
        font-size: 24px;
        font-weight: 500;
    }

}