$primary: #45C2D4;
$p-light: lighten($primary, 20%);
$p-dark: darken($primary, 20%);

$secondary: #F4C94A;
$s-light: lighten($secondary, 20%);
$s-dark: darken($secondary, 20%);

$border_color: #f1f1f1;

$font: 'Lora', sans-serif;

$sm: "(min-width: 576px)";
$md: "(min-width: 720px)";
$lg: "(min-width: 960px)";
$xl: "(min-width: 1200px)";
